@media screen and (min-width: 320px) and (max-width: 700px) {
/* 415 px for max originally */

}

body {
		/*background-image: url("../images/pexels-background-canvas-close-up-1020320.jpg");	*/
		background-color: #DADBDC;
	}

.container {
	background-color: white;
	border-radius: 2%;
	margin: 5% 5%;
	padding: 2% 2%;
}	

section {
	margin-bottom: 5%;
}

h1 {
	color: black;
	font-family: 'Old Standard TT', serif;
	letter-spacing: 2px;
	margin-bottom: 10%;
}

h1 span {
	cursor: pointer;
	float: right;
	font-size: 18px !important;
	margin-right: 5%;
	text-decoration: none;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	/*margin-top: 10%;*/
}

.pad-left {
	padding-left: 5%;
}

.pad-left-list {
	padding-left: 10%;
}

li {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin-bottom: 1%;	
}

h2 {
	font-family: 'Old Standard TT', serif;
	font-size: 28px;
	font-weight: 800;
	letter-spacing: 2px;
	margin-bottom: 2%;
}

.three .flex {
	display: flex;
}

.flex-img-demo {
	padding-right: 5%;
}

.orange {
	color: #EC8B24;
}

.four-flex {
	display: flex;
	flex-direction: row-reverse;
	margin-right: 5%;
	padding-left: 0.25%;
}

.pad-btm {
	padding-bottom: 3%;
}

.five .flex {
	display: flex;
}

.five .flex {
	flex-direction: column;
}

.marg-btm {
	margin-bottom: 2%;
}

section.six .right {
	margin-left: 45%;
}

.six-flex {
	display: flex;
	flex-direction: column-reverse;	
}
