@media screen and (min-width: 320px) and (max-width: 700px) {
/* 415 px for max originally */

}

body {
		/*background-image: url("../images/pexels-background-canvas-close-up-1020320.jpg");	*/
		background-color: #DADBDC;
	}

.container {
	background-color: white;
	border-radius: 2%;
	margin: 5% 5%;
	padding: 2% 2%;
	/*width: 85%;*/
}	

section {
	margin-bottom: 5%;
}

h1 {
	color: black;
	font-family: 'Old Standard TT', serif;
	letter-spacing: 2px;
	margin-bottom: 10%;
}

h1 span {
	cursor: pointer;
	float: right;
	font-size: 18px !important;
	margin-right: 5%;
	text-decoration: none;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	/*margin-top: 10%;*/
}

.font-22 {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
}

.pad-left {
	padding-left: 5%;
}

.pad-left-list {
	padding-left: 10%;
}

.pad-top {
	padding-top: 10px;
}

li {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin-bottom: 1%;	
}

h2 {
	font-family: 'Old Standard TT', serif;
	font-size: 28px;
	font-weight: 800;
	letter-spacing: 2px;
	margin-bottom: 2%;
}

/* Section Three */
.three .flex {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: -webkit-box;
}

.three-arrow {
	margin-left: 35%;
	padding-top: 1%;
}

.center img {
	margin: 0 auto;
}

.flex-img-demo {
	padding-right: 5%;
}

.orange {
	color: #EC8B24;
}

/* Section Four */
.four-flex {
	display: flex;
	flex-direction: row-reverse;
	margin-right: 5%;
	padding-left: 0.25%;
}

.four-first-arrow {
	margin-left: 40%;
}

.four-arrow {
	margin-left: 32%;
	padding-top: 1%;
}

.pad-btm {
	padding-bottom: 3%;
}

/* Section Five */
.five .flex {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: -webkit-box;
}

.five-arrow {
	margin-left: 19%;
	margin-bottom: 2%;
}

.five .flex {
	display: flex;
	flex-direction: column;
}

.five-second-arrow {
	margin-left: 20%;
}

/*.five-arrow img {
	margin-left: 30%;
}*/

.marg-btm {
	margin-bottom: 2%;
}

/* Section Six */
.six .six-flex {
	display: flex;
	flex-direction: column-reverse;	
	/*justify-content: flex-end;*/
}

/* Section Seven */
.seven .seven-flex {
	display: flex;
	flex-direction: row;
}

.seven .flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.seven .seven-flex div {
	margin-right: 1%;
}


.seven-arrow {
	margin-top: 20px;
}

.seven .flex div {
	margin-right: 1%;
}

/* Section Eight */
.eight .flex-wrap {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: -webkit-box;

	flex-wrap: wrap;
}

.eight .eight-flex {
	display: flex;
	/*display: -webkit-flex;*/
	/*display: -ms-flexbox;*/
	/*display: -moz-box;*/
	/*display: -webkit-box;*/

	flex-wrap: wrap;
	/*-webkit-flex-wrap: wrap;*/
}

.eight .eight-flex div {
	margin-right: 1%;
}

/* Section Nine */
.nine p {
 	display: flex;
/*	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: -webkit-box;*/
}

.nine .nine-flex {
	display: flex;
	flex-wrap: wrap-reverse;
	/*-webkit-flex-wrap: wrap-reverse;*/
}

.nine .flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.nine .nine-flex div {
	margin-right: 1%;
} 

/* Section Eleven */
.eleven-arrow {
	margin-left: 32%;
}

.eleven .eleven-flex {
	display: flex;
}

.eleven .eleven-flex div {
	margin-right: 1%;
}

.eleven .eleven-flex img {
	border-radius: 50%;
}

/* Section Twelve */
.twelve p {
	display: flex;
	margin-left: 40%;
}

.twelve-flex {
	display: flex;
	justify-content: flex-end;
}

.marg-left {
	margin-left: 67%;
}

.twelve .twelve-flex div {
	margin-left: 1%;
}

.twelve .twelve-flex img {
	border-radius: 50%;
}

/* Section Thirteen */
.thirteen p {
	display: flex;
}

.thirteen-arrow {
	margin-left: 50%;
}

.thirteen-flex {
	display: flex;
	justify-content: space-between;
}

/* Section Fourteen */
.fourteen-arrow {
	margin-left: 50%;
}

.fourteen-flex {
	display: flex;
	justify-content: space-around;
}

/* Section Fifteen */
.fifteen-arrow {
	margin-left: 50%;
}

.fifteen .fifteen-flex div {
	margin-right: 1%;
}

.fifteen .fifteen-flex img {
	border-radius: 50%;
}

.fifteen-flex {
	display: flex;
}

.grow-item {
	flex-grow: 2;
}

.bg-blue {
	background-color: #A9C2E0;
}

/* Section Sixteen */
.sixteen-arrow {
	margin-left: 47%;
}

.sixteen-flex {
	display: flex;
}

.sixteen .sixteen-flex div {
	margin-right: 1%;
} 

.sixteen .sixteen-flex img {
	border-radius: 50%;
}

.sixteen-grow-item {
	flex-grow: 1;
}

/*.shrink-item {
	flex-shrink: 2;
}*/

.bg-yellow {
	background-color: #F2F5A9;
}


@media only screen and (min-width: 768px) and (max-width: 1100px) {
	body {
		/*background-image: url("../images/pexels-background-canvas-close-up-1020320.jpg");	*/
		background-color: #DADBDC;
	}

	.container {
		background-color: white;
		border-radius: 2%;
		margin: 10% 10%;
		padding: 4% 4%;
		/*width: 85%;*/
	}	

	section {
		margin-bottom: 5%;
	}

	.pad-left {
		padding-left: 3%;
	}

	.pad-left-list {
		padding-left: 5%;
	}

	h2 {
	/*	background-color: blue;*/
	}

	img {
		height: 120px;
		width: 181px;
	}

	.three .flex {
		padding-top: 2%;
	}

	.three-arrow img {
		height: 70px;
		width: 73px;
	}
	
	.four {
		padding-top: 2%;
	}

	.four-first-arrow img, .four-arrow img {
		height: 70px;
		width: 73px;
	}
}

